.small-round-btn{
    width: 76px;
    height: 32px;
    border-radius: 16px;
    gap: 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid;
    border-color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}