.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: var(--white-color);

    .footer-container{
        width:1440px;
        text-align: center;
        padding: 60px 80px 60px 80px;

        .footer-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-content{
            margin-top:30px;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .col1{
                width:33.33%;
                .coutry-list{
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap; 
                    gap: 8px;
                    .coutry-tag{
                        padding: 12px 32px 12px 32px;
                        border-radius: 50px;
                        border:2px solid var(--primary-color);
                    }
                }
            }
            .col2{
                width:33.33%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .col3{
                width:33.33%;
                .contact{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    align-items: center;
                    .iconImg{
                        width:30%
                    }
                    .text {
                        width: 70%;
                        text-align: left;

                    }
                }
            }
        }

    }
}